<section class="spotlight">
    <h2 class="spotlight__header">
      <span class="spotlight__header--prefix">Media Spotlight</span>
      <% if @work_spotlight != nil %>
        <%= link_to @work_spotlight.title, work_path(@work_spotlight.id), class:'spotlight__link-to' %> by <%= @work_spotlight.creator%>
    </h2>
    <p class="spotlight__description">
      <%= @work_spotlight.get_vote_count %> votes -
    </p>
    <% end %>
</section>

<hr class="root__hr">
<section class="top-ten__container">

<%= render partial: "topworks", locals: { title: "Top Movies", works: @work_top_movies } %>

<%= render partial: "topworks", locals: { title: "Top Books", works: @work_top_books } %>

<%= render partial: "topworks", locals: { title: "Top Albums", works: @work_top_albums } %>

</section>