<h1>Works List</h1>

<table style="text-align: center;">
  <tr>
    <th>Category</th>
    <th>Title</th>
    <th>Creator</th>
    <th>Publication Year</th>
    <th>Description</th>
  </tr>
    <% @works.each do |work|  %>
  <tr>
    <td><%= work[:category] %> </td>
    <td><%= work[:title] %></td>
    <td><%= work[:creator] %></td>
    <td><%= work[:publication_year] %></td>
    <td><%= work[:description] %></td>
  </tr>
  <% end %>
</table>