<h2>List of Works</h2>

<section class="media-table">
  <h4>Albums</h4>

  <table class="table">
    <thead>
      <tr>
        <th width="80">Votes</th>
        <th>Title</th>
        <th>Created By</th>
        <th width="100">Published</th>
        <th width="100">Upvote</th>
      </tr>
    </thead>

    <% @works.each do |work|  %>
    <tr>
      <td> "TODO" </td>
      <td><%= link_to work[:title], work_path(work.id), method: :get%></td>
      <td><%= work[:creator] %></td>
      <td><%= work[:publication_year] %></td>
      <td><%= link_to "Upvote TODO", works_path, method: :post, class:"btn btn-primary" %></td>
    </tr>
    <% end %>
  </table> 
  <%= link_to "Back to Media List", root_path, method: :get, class:"btn btn-primary" %>
</section> 