<!DOCTYPE html>
<html>
  <div class="header">
  <head>
    <title class>MediaRanker</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Gudea:400,700|Hammersmith+One">
  </head>
  </div>


<body>
  <header class="app-header__header">
    <h1>
      <%= link_to "Media Ranker", root_path, method: :get %>
      <small>Ranking the Best of Everything</small>
    </h1>

    <nav class="app-header__nav">
      <ul class="nav app-header__site-nav-container">
        <li class="nav-item app-header__nav_item">
          <%= link_to "View top media", root_path, method: :get, class:"nav-link" %>
        </li>
        <li class="nav-item app-header__nav_item">
          <%= link_to "View all media", works_path, method: :get, class:"nav-link" %>
        </li>
        <li class="nav-item app-header__nav_item">
          <%= link_to "Add a new work", new_work_path, method: :get, class:"nav-link" %>
        </li>
        <li class="nav-item app-header__nav_item">
          <%= link_to "View all users", users_path, method: :get, class:"nav-link" %>
        </li>
      </ul>

      <ul class="nav app-header__user-nav-container">
      
        
        <% if session[:user_id] != nil %>
        <li class="nav-item app-header__nav_item">
          <%= link_to "Logged in as #{session[:user_username]}", logout_path, method: :post, class:"btn btn-primary" %>
          <%= link_to "Log Out", logout_path, method: :post, class:"btn btn-primary" %>
        </li>
        <% else %>
        <li class="nav-item app-header__nav_item">
          <%= link_to "Log In", login_path, method: :get, class:"btn btn-primary" %>
        </li>
        <% end %>

      </ul>
    </nav>
  </header>

  <main>
    <%= yield %>
  </main>
</body>

</html>